/* Setting values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    background-color: #6a2f2f;
    color: #fff;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header img {
    margin: 0 1rem;
    box-shadow: 1px 1px 10px black;
    
}

main {
    /* margin: 1rem 2vw; */
    /* max-width: 800px; */
    /* margin: 0 auto;
    text-align: left; */
    padding: 1.5rem;
    
}

main h1 {
    padding: .7rem;
    border-bottom: 1px solid#6a2f2f;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


/* SECTIONS INSIDE THE MAIN */
.card {
    border: 1px solid #bbb;
    border-radius: 10px;
    margin: 1rem 0;
    overflow: hidden;
}

.card h2 {
    background-color: #6a2f2f;
    color: #fff;
    display: block;
    padding: .7rem 0;
    text-align: center;
}
.card p {
    padding: 10px;
    text-align: center;
}
/* Mobile View */
#menu {
	display: block;
	font-size: 2rem;
	font-weight:300;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #304f3e;
	color: #fff;
}

#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "X";
}
/* HEADER NAVS */
nav {
    background-color: #304f3e;
    margin: 0 auto;
}

.navigation {
    list-style-type: none;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
    text-align: center;
	text-decoration: none;
    color: #fff;
	font-weight: 300;
	transition: .5s;
	/* font-size: clamp(1rem, 2vmin, 1.5rem); */
}

.navigation a:hover {
    background-color: rgba(0, 0, 0, .3);
}

.navigation .active {
    background-color: rgba(255, 255, 255, .07);
}

.show li {
	display: block;
}

/* Theme Mode */
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 1.5rem;
    color: #fff3c7;
}

footer {
    text-align: center;
    padding: .7rem;
    background-color: #6a2f2f;
    color: #fff;    
}